@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*     Primary Dark Blue: #192841
    Secondary Dark Blue: #2A3F5F
    Accent Blue: #3E5E8C
    Light Blue: #6386B9
    Dark Gray: #555555
    Light Gray: #CCCCCC 
    very light gray: #F0F0F0
    
*/

* {
  border: 3px solid black;
  
}

body {
  color: #F0F0F0;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Mono', monospace;
}

.nav li {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.nav li a {
  position: relative;
  text-decoration: none;
  color: #F0F0F0;
}

.nav li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background: #F0F0F0;
  transition: width .3s;
}

.nav li a:hover::after {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  top: 0;
  flex-wrap: wrap;
  background-color: #3E5E8C;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.banner{
  background-color: #192841;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  min-height: 540px;
  padding: 0 32px;
}
.banner-summary {
  width: 700px;
}

.banner-summary-subtext {
  color: #6386B9;
}

img.banner-img {
  width: 300px;
  border-radius: 50%;
}

.early-life {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 540px;
  gap: 60px;
  padding: 0 32px;
  flex-wrap: wrap;
  background-color: #2A3F5F;
}

img.early-life-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.early-life-text-container {
  width: 700px;
}

.early-life-subtext {
  color: #6386B9;
}