@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*     Primary Dark Blue: #192841
    Secondary Dark Blue: #2A3F5F
    Accent Blue: #3E5E8C
    Light Blue: #6386B9
    Dark Gray: #555555
    Light Gray: #CCCCCC 
    very light gray: #F0F0F0
    
*/

* {
  text-align: center;
  
}

body {
  color: #F0F0F0;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Mono', monospace;
}

.nav li {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.nav li a {
  text-decoration: none;
  color: #F0F0F0;
  transition: color 0.3s ease; 
}

.nav li a:hover {
  color: #192841; 
}


#header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  top: 0;
  flex-wrap: wrap;
  background-color: #3E5E8C;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

@media screen and (max-width: 600px) {
  #header {
    flex-direction: column;
  }

  .nav {
    display: none;
  }
}

#banner, #early-life, #education-career, #death {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  min-height: 540px;
  padding: 30px;
}

#banner {
  background-color: #192841;
}

#early-life {
  background-color: #2A3F5F;
}

#education-career {
  background-color: #192841;
}

#death {
  background-color: #2A3F5F;
}

.banner-summary {
  width: 700px;
}

.banner-summary-subtext {
  color: #6386B9;
}

img.banner-img,  img.early-life-img, img.education-career-img, img.death-img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.early-life-text-container, .education-career-text-container, .death-text-container{
  width: 700px;
}

.early-life-subtext, .education-career-subtext, .death-subtext{
  color: #6386B9;
}

.timeline {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Noto Sans Mono', monospace;
  background-color: #6386B9;
  color: #F0F0F0;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s ease; 
}

.timeline:hover {
  background-color: #3E5E8C; 
}

.timeline:active {
  background-color: #2A3F5F; 
}

footer {
  background-color: #192841;
  color: #F0F0F0;
  text-align: center;
  padding: 10px 0px;
}